NODE_ENV=development
PORT=2137
HOST=0.0.0.0
LOG_LEVEL=debug
COOKIE_SECURE=false
DATABASE_URL=postgres://schoolboard:schoolboard@localhost:5432/schoolboard
COOKIE_SECRET=c0dfa40dc279bdf6cc8e43cb47ba6bfb4a8d307b4fd90b82f580a050902ac7c7
